html {
	height:100%;
	font-family:'Helvetica Neue', 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}
body {
	background:rgb(20,20,20); 
	margin:0;
	width:100%;
	height:100%;
	padding:0;
	font-size:16px;
	position:relative;
	overflow:hidden;
}
button, label, .noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
button, .button {
	cursor:pointer;
	transition:background 0.25s, color 0.25s;
}
button, input, .button {
	border:none;
	outline:none;
}
input::placeholder {
	color:rgb(125,125,125);
}
a {
	text-decoration:none;
	color:rgb(88,150,244);
}
.hidden {
	position:absolute;
	visibility:hidden;
	width:0;
	height:0;
	z-index:-5;
}
.visible {
	display:block;
}

.main-wrapper {
	text-align:center;
	padding-bottom:10px;
}
.section {
	width:25%;
	display:block;
	padding:10px;
	margin:10px auto 10px auto;
	background:rgb(40,40,40);
	overflow:hidden;
	border-radius:5px;
	font-size:0;
}
.section.power {
	width:90px;
	height:55px;
	display:inline-block;
	vertical-align:top;
	margin:10px 2.5px 0 2.5px;
}
.section.toggles {
	width:auto;
	height:55px;
	display:inline-block;
	vertical-align:top;
	margin:10px 2.5px 0 2.5px;
	text-align:left;
}
.section.settings {
	display:none;
	width:360px;
	height:0;
	text-align:center;
	transition:height 0.35s;
}
.section.brightness {
	width:360px;
}
.section.color {
	width:360px;
}

.power-switch {
	position:relative;
	display:inline-block;
	width:90px;
	height:54px;
	outline:none;
}
.power-switch.active .slider {
	background:#0072ff;
	background:-webkit-linear-gradient(to bottom left, #00c6ff, #0072ff);
	background:linear-gradient(to bottom left, #00c6ff, #0072ff);
}
.power-switch.active .power-icon {
	left:calc(100% - 46px - 4px);
	transform:rotate(360deg);
}
.power-icon {
	position:absolute;
	height:32px;
	width:32px;
	padding:7px;
	left:4px;
	top:4px;
	fill:rgb(75,75,75);
	border-radius:50%;
	background:rgb(255,255,255);
	background:-webkit-linear-gradient(to top, rgb(210,210,210), rgb(255,255,255));
	background:linear-gradient(to top, rgb(210,210,210), rgb(255,255,255));
	transition:left 0.35s, transform 0.5s;
}
.slider {
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgb(75,75,75);
	-webkit-transition:.4s;
	transition:.4s;
	outline:none;
	border-radius:34px;
}

.section.toggles svg {
	width:45px;
	height:45px;
	padding:5px;
	fill:rgb(245,245,245);
	cursor:pointer;
	transition:fill 0.25s;
}
#desktop .section.toggles svg:hover, .section.toggles svg.active {
	fill:#00a6ff;
}

.settings-title {
	display:block;
	width:100%;
	padding:0;
	height:40px;
	font-size:16px;
	margin:10px 0 10px 0;
	font-weight:bold;
	cursor:default;
	background:rgb(60,60,60);
	color:rgb(245,245,245);
	border-radius:5px;
}
.settings-title:first-of-type {
	margin-top:0;
}
.settings-input {
	display:block;
	width:calc(100% - 20px);
	padding:0 10px 0 10px;
	height:40px;
	font-size:16px;
	margin:0 0 10px 0;
	background:rgb(50,50,50);
	color:rgb(245,245,245);
	border-radius:5px;
	-webkit-user-select:auto;
	-khtml-user-select:auto;
	-moz-user-select:auto;
	-ms-user-select:auto;
	user-select:auto;
}
.settings-confirm {
	display:inline-block;
	height:40px;
	font-size:16px;
	padding:0 10px 0 10px;
	margin:0 5px 0 5px;
	background:rgb(60,60,60);
	color:rgb(245,245,245);
	border-radius:5px;
	width:calc(50% - 5px);
}
.settings-confirm.guest.on {
	margin-left:0;
}
.settings-confirm.guest.off {
	margin-right:0;
}
#desktop .settings-confirm:hover, .settings-confirm.active {
	background:#00a6ff;
}

.brightness-block {
	width:100px;
	height:100px;
	background:rgb(40,40,40);
	position:relative;
	display:inline-block;
	margin:10px;
	overflow:hidden;
	border-radius:50%;
	cursor:pointer;
	transform:rotate(180deg);
	transition:background 0.25s;
}
.brightness-block.active button {
	color:#0072ff;
}
.brightness-block button {
	font-size:16px;
	color:rgb(150,150,150);
	width:100%;
	height:100%;
	padding-top:5px;
	pointer-events:none;
	background:none;
	position:absolute;
	transform:rotate(180deg);
	transition:color 1.5s;
}
#desktop .brightness-block:hover {
	background:rgb(60,60,60);
}

.color-block {
	width:100px;
	height:100px;
	background:rgb(245,245,245);
	position:relative;
	display:inline-block;
	margin:10px;
	overflow:hidden;
	border-radius:50%;
	cursor:pointer;
}
.color-swatch {
	width:calc(100% - 20px);
	height:calc(100% - 20px);
	position:absolute;
	top:10px;
	left:10px;
	border-radius:50%;
	box-shadow:0 6px 10px rgba(20,20,20,0.25);
	border-width:0;
	border-color:rgb(40,40,40);
	border-style:solid;
	transition:all 0.25s;
}
#desktop .color-block:hover .color-swatch {
	transform:scale(0.85);
}
.color-block.active .color-swatch, #desktop .color-block.active:hover .color-swatch {
	transform:scale(0.5);
}
.color-swatch.orange {
	background:#f12711;
	background:-webkit-linear-gradient(to bottom left, #f5af19, #f12711);
	background:linear-gradient(to bottom left, #f5af19, #f12711);
}
.color-swatch.white {
	background:rgb(255,255,255);
	background:-webkit-linear-gradient(to top, rgb(210,210,210), rgb(255,255,255));
	background:linear-gradient(to top, rgb(210,210,210), rgb(255,255,255));
}
.color-swatch.purple {
	background:#ff00cc;
	background:-webkit-linear-gradient(to bottom left, #ff00cc, #333399);
	background:linear-gradient(to bottom left, #ff00cc, #333399);
}
.color-swatch.green {
	background:#45b649;
	background:-webkit-linear-gradient(to bottom left, #dce35b, #45b649);
	background:linear-gradient(to bottom left, #dce35b, #45b649);
}
.color-swatch.blue {
	background:#0072ff;
	background:-webkit-linear-gradient(to bottom left, #00c6ff, #0072ff);
	background:linear-gradient(to bottom left, #00c6ff, #0072ff);
}
.color-swatch.red {
	background:#b31217;
	background:-webkit-linear-gradient(to bottom left, #e52d27, #b31217);
	background:linear-gradient(to bottom left, #e52d27, #b31217);
}

@media screen and (max-width:410px) {
	.section.settings {
		width:300px;
	}
	.section.brightness {
		width:300px;
	}
	.section.color {
		width:300px;
	}
	.brightness-block {
		width:80px;
		height:80px;
	}
	.color-block {
		width:80px;
		height:80px;
	}
}
@media screen and (max-width:350px) {
	.section.settings {
		width:300px;
	}
	.section.brightness {
		width:240px;
	}
	.section.color {
		width:240px;
	}
	.brightness-block {
		width:60px;
		height:60px;
	}
	.color-block {
		width:60px;
		height:60px;
	}
}
@media screen and (max-width:280px) {
	.section.settings {
		width:300px;
	}
	.section.brightness {
		width:180px;
	}
	.section.color {
		width:180px;
	}
	.brightness-block {
		width:40px;
		height:40px;
	}
	.brightness-block button {
		display:none;
	}
	.color-block {
		width:40px;
		height:40px;
	}
}